div{
    background-color: blueviolet ;
}
app-redes-sociales{
    float: right;
    margin-top: 35px;
}
#insta{ width: 50px ;}
#face{ width: 50px ;}
#linkedin{ width: 50px ;}
#git{ width: 50px ;}
img{margin-right: 5px;}