<div class="row">
    <h2>Proyectos realizados</h2>
    <div class="contenedor">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parte1">
              <h2>Analisis de datos </h2>
              <p>Analisis de una planilla de ventas .csv con desarrollo en Google Sheets, para posterior muestra de resultados por el uso de Google Data Studio.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 offset-md-1 offset-lg-1 parte2"> 
            <a href="https://datastudio.google.com/reporting/90fdd9ee-1bef-442a-aee1-df68915053ec">
                <img src="../../../assets/datastudio.png" class="img-fluid"></a></div>
    </div>
    <div class="contenedor">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parte1">
              <h2>Interfaz grafica de usuario</h2>
              <p>Demo de gestor de Base de datos de Alumnos</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 offset-md-1 offset-lg-1 parte2"><img src="../../../assets/gui.png" class="img-fluid"></div>
    </div>

</div>
