<div class="row">
    <h2>Hard & Soft Skills</h2>
      <!--HTML+css-->
    <div class="text-center col-xs-12 col-sm-6 col-md-6 col-lg-4">  
        <circle-progress
            [title]="'HTML+CSS'"
            [titleColor]="'black'"
            [titleFontSize]="'25'"
            [showSubtitle]="false"
            [showUnits]="false"
            [percent]="95"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#FFC300 '"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="600"
        > </circle-progress>
    </div>
          <!--java-->
          <div class="text-center col-xs-12 col-sm-6 col-md-6 col-lg-4">  
            <circle-progress
                [title]="'JavaScript'"
                [titleColor]="'black'"
                [titleFontSize]="'25'"
                [showSubtitle]="false"
                [showUnits]="false"
                [percent]="65"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#FFC300 '"
                [innerStrokeColor]="'#000000'"
                [animation]="true"
                [animationDuration]="600"
            > </circle-progress>
        </div>
          <!--MySQL-->
          <div class="text-center col-xs-12 col-sm-6 col-md-6 col-lg-4">  
            <circle-progress
                [title]="'MySQL'"
                [titleColor]="'black'"
                [titleFontSize]="'25'"
                [showSubtitle]="false"
                [showUnits]="false"
                [percent]="90"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#FFC300 '"
                [innerStrokeColor]="'#000000'"
                [animation]="true"
                [animationDuration]="600"
            > </circle-progress>
        </div>
          <!--Flexibilidad-->
          <div class="text-center col-xs-12 col-sm-6 col-md-6 col-lg-4">  
            <circle-progress
                [title]="'Flexibilidad'"
                [titleColor]="'black'"
                [titleFontSize]="'25'"
                [showSubtitle]="false"
                [showUnits]="false"
                [percent]="100"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#FFC300 '"
                [innerStrokeColor]="'#000000'"
                [animation]="true"
                [animationDuration]="600"
            > </circle-progress>
        </div>
          <!--Responsabilidad.-->
          <div class="text-center col-xs-12 col-sm-6 col-md-6 col-lg-4">  
            <circle-progress
                [title]="'Responsabilidad'"
                [titleColor]="'black'"
                [titleFontSize]="'25'"
                [showSubtitle]="false"
                [showUnits]="false"
                [percent]="95"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#FFC300 '"
                [innerStrokeColor]="'#000000'"
                [animation]="true"
                [animationDuration]="600"
            > </circle-progress>
        </div>
          <!--Empatía-->
          <div class="text-center col-xs-12 col-sm-6 col-md-6 col-lg-4">  
            <circle-progress
                [title]="'Empatía'"
                [titleColor]="'black'"
                [titleFontSize]="'25'"
                [showSubtitle]="false"
                [showUnits]="false"
                [percent]="95"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#FFC300 '"
                [innerStrokeColor]="'#000000'"
                [animation]="true"
                [animationDuration]="600"
            > </circle-progress>
        </div>
                        
    
     
</div>