<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img id="foto-perfil"src="../../../assets/46891339_10210220487909015_1752356268904808448_n.jpg" class= "img-fluid" ></div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h2 id="nombre">Frías Vázquez</h2>
        <h2 id="apellido">Miranda Noelia</h2>
        <p class="cargo">Full Stack Developer Jr.</p>
        <p class="cargo">Testing QA Jr</p>
    </div>
    <div class="col-xs-12 col-sm-6col-md-6 col-lg-6">
        <span>
            <h3>Acerca de mí</h3>
            <p> Estudiante de Ingenieria Industrial. </p>
            <p>Siempre en busqueda de mejora continua.</p>
        </span>
    </div>
    <div></div>
</div>
