<div class="row">
    <h2>Formación</h2>

    <div class="col-lg-11">
    <ul>
        <li>
            <h2>Escuela de Educación Técnica 3141 - Técnico químico</h2><h4>2008-2014</h4>
        </li>
        <p>Conocimientos en Carpintería, Electricidad, Tornería y Análisis de Laboratorio </p>
        <li>
            <h2>Escuela de Artes y Oficios - Reparación de PC</h2><h4>2020</h4>
        </li>
        <p>Service General. Instalación de Drivers. </p>
        <li>
            <h2>Universidad Nacional de Salta - Ingeniería industrial</h2><h4>2015- En curso.</h4>
        </li>
        <p>Conocimientos en Estadística, Organización de Empresas, Gestión de Proyectos,
            Programación C++ </p>
        <li>
            <h2>Codo a codo 4.0 - Tester QA</h2><h4>2021</h4>
        </li>
        <p> Conocimientos básicos en herramientas de administración de SDLC Spirateam
            Conocimientos básicos en Herramientas de gestión de datos MySQL y Automatización
            con JMeter.</p>
        <li>
            <h2>Argentina Programa - Programador</h2><h4>2021-2022</h4>
        </li>
        <p>Primera Etapa finalizada.
            Conocimientos en JavaScript, Ruby.
            Segunda Etapa en curso.
            Formación en Programación Full Stack</p>
    
    </ul></div>
</div>
